@charset "UTF-8";
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(180deg, #5f2c82, #49a06d);
    }
    #login{
        height: 300px;
        width: 620px;
    }
    section#login > div#imagem{
        width: 300px;
        margin-left: 55%;
        height: 300px;
        border: 1px solid transparent;
    }
    section#login > div#formulario{
        width: 350px;
        margin-top: -300px;
    }
    p{
        margin-bottom: 10px;
    }
    input{
        width: 295px;
        height: 40px;
    }
    #envio{
        margin-top: 3px;
        width: 327px;
    }
    .botao{
        width: 327px;
        height: 40px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: linear-gradient(180deg, #5f2c82, #49a06d);
    }
    #login{
        height: 400px;
        width: 800px;
    }
    section#login > div#imagem{
        width: 400px;
        margin-left: 55%;
        height: 400px;
        border: 1px solid transparent;
    }
    section#login > div#formulario{
        width: 440px;
        margin-top: -400px;
        padding: 10px;
    }
    section#login > div#formulario > h1{
        font-size: 1.3em;
    }
    p{
        margin-bottom: 20px;
        font-size: 1.2em;
    }
    input{
        width: 385px;
        height: 50px;
        padding: 10px;
    }
    #envio{
        margin-top: 10px;
        width: 417px;
        margin-bottom: 10px;
    }
    .botao{
        width: 417px;
        height: 50px;
        padding: 10px;
    }
}
@media screen and (min-width: 1200px){
    body{
        background-image: linear-gradient(180deg, #5f2c82, #49a06d);
    }
    #login{
        height: 450px;
        width: 900px;
    }
    section#login > div#imagem{
        width: 450px;
        margin-left: 55%;
        height: 450px;
        border: 1px solid transparent;
    }
    section#login > div#formulario{
        width: 490px;
        margin-top: -400px;
        padding: 10px;
    }
    section#login > div#formulario > h1{
        font-size: 1.7em;
        margin-top: -35px;
        margin-bottom: 5px;
    }
    p{
        margin-bottom: 20px;
        font-size: 1.5em;
        line-height: 1.5em;
    }
    input{
        width: 435px;
        height: 50px;
        padding: 10px;
    }
    #envio{
        margin-top: 10px;
        width: 467px;
        margin-bottom: 10px;
    }
    .botao{
        width: 467px;
        height: 50px;
    }
}